html {
    min-width: 320px;
}

body {
    padding-top: 6vw;    
}

.middle-container {
    position: relative;
    width: 60%;
    margin: 0 auto 6vw;
    padding-bottom: 10vw;
}

h1 {
    font-size: 5vw;
    margin: 0px;
    padding: 10vw 0px 5vw;
}
h3 {
    margin-top: 2vw;
    font-size: 2vw;
}

.center.par {
    width: 80%;
    margin-bottom: 18vw;
}

p {
    margin-top: 1vw;
    font-size: 1.5vw;
    line-height: 3.0vw;
}

p.first {
    text-indent: 3.5vw;
}

h3.last {
    margin-top: 6vw;
}

.btn {
    font-size: 1.9vw;
}

a.btn.back {
    font-size: 1.7vw;
    color: black;
    background: none;
    display:block;
    padding: 0;
    margin: 0 auto 2vw 20vw;
    width: fit-content;
}
#arrow {
    font-size: 2.5vw;
}

a.btn.back:hover {
    background: none;
    color: white;
}

@media (max-width: 320px) {
    
}